.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Uitlijning voor schermbreedtes < 400px */
  height: 100vh;
  background: linear-gradient(#614851, #a78e96); /* Gradient achtergrondkleur */
}

.app-wrapper {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0 auto; /* Horizontaal gecentreerd */
  background: linear-gradient(#cbf3e0, #f2f2f2); /* Gradient achtergrondkleur */
}

@media (min-width: 400px) {
  .app-container {
    align-items: center; /* Uitlijning voor schermbreedtes >= 400px */
  }

  .app-wrapper {
    border: 3px solid #300d19;
    border-radius: 15px;
    margin-bottom: 0; /* Marge onderaan verwijderd */
    height: 620px;
  }

  .app-header {
    border-top-left-radius: 10px; /* Border radius alleen linksboven op schermen >= 400px */
    border-top-right-radius: 10px; /* Border radius alleen rechtsboven op schermen >= 400px */
    }
}

@media (max-width: 400px) {
  .app-wrapper {
    position: fixed; /* Vaste positionering */
    top: 0; /* Element bovenaan het scherm */
    bottom: 0; /* Element onderaan het scherm */
    margin-bottom: initial; /* Terugzetten naar de standaardwaarde */
  }
}

.app-header {
  background-color: #963254;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}

.app-header-title {
  margin: 0;
  color: #fff;
}